#message-form {
    clear: both;
    margin-left: 200px;
}

/* Mobile Styles */
@media only screen and (max-width: 450px) {
#message-form {
    margin-left: 80px;
}
#input_txt {
    width: 120px;
    height: 30px;
}
}